<%- include('partials/header.ejs') %>

<h1 class="text-center mt-5 mb-3">Forgot Password</h1>
<div class="container w-25">
	<%- include('partials/messages.ejs') %>
	<form action="/forgot" method="post">
		<div class="form-group px-0">
			<input
				type="email"
				name="email"
				class="form-control"
				placeholder="Enter email address"
			/>
		</div>
		<button type="submit" class="btn btn-danger btn-block">Send email</button>
	</form>
	<a href="/login" class="float-right">Back to login</a>
</div>

<%- include('partials/footer.ejs') %>
