<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Authentication</title>
	</head>
	<body>
		<nav class="py-1 navbar navbar-expand-lg navbar-light bgg-danger">
			<a href="/dashboard"><b>Authentication</b></a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggle-icon"></span>
			</button>
			<div
				class="collapse navbar-collapse justify-content-end"
				id="navbarSupportedContent"
			>
				<div class="mr-5">
					<ul class="navbar-nav mr-auto mr-0">
						<li class="nav-item">
							<a href="#" class="nav-link text-white"><b>Username</b></a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link text-white"><b>Change Password</b></a>
						</li>
						<li class="nav-item">
							<a href="/logout" class="nav-link text-white"><b>Logout</b></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>