<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Employees Database System</title>
		<link rel="stylesheet" href="bootstrap.css" />
		<link href="dataTables.bootstrap4.min.cdd" rel="stylesheet" />
		<link rel="stylesheet" href="design.css" />

		<script src="jquery.min.js"></script>
		<script src="jquery.datatables.min.js"></script>
		<script src="dataTables.bootsrap4.min.js"></script>
	</head>
	<body></body>
</html>
